@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/005/130/309/large_2x/blurred-of-supermarket-store-background-free-photo.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.ShopListWrapper {
  background: #101010;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.ShopListForm {
  width: 100%;
  margin-bottom: 1rem;
}

.shoplist-input {
  outline: none;
  background: none;
  border: 1px solid #66cdaa;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.shoplist-input::placeholder {
  color: #ffffff4d;
}

.shoplist-btn {
  background: #66cdaa;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Shoplist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #66cdaa;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.notInCart {
  color: #fff;
  cursor: pointer;
}

.inCart {
  color: #afeeee;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon, .color-icon {
  cursor: pointer;
  padding-right: 5px;
}
